In [4]:
import pandas as pd

In [5]:
dataset = pd.read_json('../data/raw/company_info.jsonl', lines=True)
test
print (dataset.head(1))

     0       1           2             3            4              5     6   \
0  uuid  status  start_year  addr_country  addr_region  addr_province  lang

             7      8      9      10     11       12            13  \
0  company_type  nace1  nace2  nace3  nace4  capital  capital_curr

                   14             15                   16            17
0  gen_assembly_month  end_fisc_year  covid_compensations  covid_primes

In [6]:
# Stel de eerste rij in als kolomnamen
dataset.columns = dataset.iloc[0]

# Verwijder de eerste rij (die nu als kolomnamen is ingesteld)
dataset = dataset[1:]

# Herstel de index van de DataFrame
dataset = dataset.reset_index(drop=True)

# Bekijk de eerste paar rijen van de DataFrame na bewerking
print("DataFrame met nieuwe kolomnamen:")
print(dataset.head(5))

DataFrame met nieuwe kolomnamen:
0                                  uuid  status start_year addr_country  \
0  236b14ea-7b38-4c25-b46d-50257f449012  active       2011           be
1  eb040b52-7f2b-462e-813b-becedb93964c  active       2011           be
2  b266db0d-e86c-4664-af8a-99f56dfa3506  active       2011           be
3  9ceb2787-7cf3-41d6-b073-c85a5571210d  active       2001           be
4  d580d6fc-1b0a-475d-841d-8170282bfb24  active       2003           be

0 addr_region    addr_province lang company_type  nace1  nace2  nace3  nace4  \
0    Brussels         Brussels   fr           15  56102  56102   None   None
1    Wallonie  Walloon Brabant   fr           15  86220   None   None   None
2    Flanders  Flemish Brabant   fr           15  62090   None   None   None
3    Brussels         Brussels   nl           14  70220  85532  70220  74142
4    Flanders    West Flanders   nl           15  47591  47410  47591  52487

0 capital capital_curr gen_assembly_month end_fisc_year covid_compensations  \
0   18600          EUR                  6         12-31                   0
1   18600          EUR                  6         12-31                   0
2   18600          EUR                  6         12-31                   0
3   62000          EUR                  5         12-31                   0
4   18600          EUR                  6         12-31                   0

0 covid_primes
0            0
1            0
2            0
3            0
4         8800

In [7]:
total_size = dataset.size
amount_of_columns = dataset.shape[1]
print ("totaal aantal rijen: ", total_size)
print ("aantal kolommen: ", amount_of_columns)
print ("de verschillende kolommen: ", dataset.columns)

totaal aantal rijen:  9469206
aantal kolommen:  18
de verschillende kolommen:  Index(['uuid', 'status', 'start_year', 'addr_country', 'addr_region',
       'addr_province', 'lang', 'company_type', 'nace1', 'nace2', 'nace3',
       'nace4', 'capital', 'capital_curr', 'gen_assembly_month',
       'end_fisc_year', 'covid_compensations', 'covid_primes'],
      dtype='object', name=0)

Land

In [8]:
unieke_waarden_landen = dataset['lang'].unique()
print (unieke_waarden_landen)
print ("")
# Tel het aantal voorkomens van elk land in de kolom 'lang'
aantal_voorkomens_per_land = dataset['lang'].value_counts()
print (aantal_voorkomens_per_land)

['fr' 'nl' 'de']

lang
nl    326822
fr    197714
de      1531
Name: count, dtype: int64

In [9]:
start_year = dataset['start_year'].value_counts()
print (start_year)

start_year
2011    23264
2016    22890
2017    22601
2010    21740
2018    21289
        ...
1880        1
1876        1
1853        1
1878        1
1882        1
Name: count, Length: 143, dtype: int64